<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>El mercado de las aplicaciones móviles en el mundo</h1>
    <p>Actualmente el mercado de las aplicaciones móviles ha venido en aumento desde la presentación de la App Store por
      parte de Apple la cual, gracias a esto, trajo consigo un cambio en los hábitos de millones de personas a nivel
      mundial y significó ingresos que superaban los 80 mil millones de dólares para el año 2016.
    </p>
    <p>Así mismo, el aumento de compra de dispositivos móviles permitió el despliegue de estas aplicaciones con mayor
      una fuerza incrementándose a más del doble en menos de 4 años.
    </p>
    <img [src]="pathOne" [alt]="altTextOne">
    <p>Gracias a este negocio fue posible la generación de nuevos empleos y conllevó a que quienes desarrollaban las
      aplicaciones móviles las empresas dueñas de App Store y Play Store les fueran pagando cada vez más conforme pasaba
      el tiempo. El aumento de descargas significó la aparición de un mercado que solo va en su subida.
    </p>
    <img [src]="pathTwo" [alt]="altTextTwo">
  </div>
</ion-content>