<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Algunas estadisticas sobre las apps moviles</h1>
    <div id="container__content">
      <div id="container__content__text">
        <p id="text">
          Para 2016, se dice que las descargas en las tiendas oficiales aumentaron un 15% hasta 90.000 millones.
        </p>
      </div>
      <div id="container__content__img">
        <img id="marketImg" src="assets/porcent.svg" alt="Mobile">
      </div>
    </div>

    <div id="container__content">
      <div id="container__content__text">
        <p id="text">
          Por otro lado el uso de apps moviles se incrementó un 25% hasta un total de 150.000 millones de horas.
        </p>
      </div>
      <div id="container__content__img">
        <img id="marketImg" src="assets/money.svg" alt="Mobile">
      </div>
    </div>

    <div id="container__content">
      <div id="container__content__text">
        <p id="text">
          Las tiendas de Google y Apple han generado ganancias a los desarrolladores de apps por más de 35.000 millones
          de
          dólares.
        </p>
      </div>
      <div id="container__content__img">
        <img id="marketImg" src="assets/work.svg" alt="Mobile">
      </div>
    </div>
  </div>
</ion-content>