<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <h1>Buscar críticas de un site que coincida con la categoría de la aplicación</h1>
    <p>Es recomendable hacer una lista con los sites afines a la aplicación cuando la misma ya se encuentre publicada en la App Store.</p>
    <ol>
      <li>Es posible utilizar notas de prensa como blogs, publicaciones similares a la aplicación o revistas en línea.</li>
      <li>Anunciar el lanzamiento de la aplicación a través de correo electrónico a los clientes potenciales a quienes podría interesarles.</li>
      <li>Se puede utilizar el marketing viral para la difusión de la aplicación. Un ejemplo de esto es por medio del boca a boca de las personas como familia y amigos. 
        Se recomienda incluir un botón de compartir ya que en caso de que la aplicación sea lo suficientemente buena esta puede llegar a viralizarse lo que aumenta la posibilidad de llegar a más personas.</li>
      <li>Tener en cuenta herramientas de publicidad convencionales como radio o televisión los cuales estén en concordancia con la aplicación, incluso anunciar la aplicación por medio de otra la cual cuente con un público objetivo similar.</li>
      <li>Realizar integraciones con otras aplicaciones más conocidas lo que facilita que la aplicación sea más fácil de encontrar al buscar la demás.</li>
      <li>Crear una página web de la aplicación con toda la descripción de esta incluyendo contenido multimedia que la explique. Así mismo, incluir un botón que permita hacer la descarga y compartirla.</li>  
      <li><p>Es posible promocionar el site usando palabras clave a través de un Search Engine Marketing. Para esto es recomendable el uso de una plataforma enfocada en este tema como Google Adwords o Yahoo Search 
        teniendo en cuenta el objetivo y el área geográfica de acción.</p>
        <p>Adicional a lo anterior se debe crear la campaña teniendo en cuenta el objetivo como notificar el lanzamiento de la aplicación o mantener el número de descargas.</p>
        <p>Generar anuncios para mantener a los clientes actualizados mencionando las palabras clave según la categoría, gestión del tiempo y contactos.</p></li>
        <li>El uso se Social Media Marketing permite que los usuarios aprendan más sobra la aplicación con aplicativos como Youtube. Utilizar material audiovisual es recomendable ya que los usuarios lo prefieren en lugar de leer anuncios. 
          De esta forma es como los usuarios se mueven en una página web:</li>
          <ul>
            <li>Los usuarios inician leyendo a través de la parte superior de la página en un movimiento horizontal.</li>
            <li>Posteriormente, luego de hacer scroll, leen de forma horizontal nuevamente cubriendo un área menor a la anterior.</li>
            <li>Por último, los usuarios leen el contenido a la izquierda de la página en un movimiento vertical. Tener en cuenta esto ayuda a saber donde ubicar cada elemento de la página.</li>
          </ul>
         <li>Otro aplicativo para SMM puede ser LinkedIn la cual ayudar a llegar al público que nos interesa teniendo en cuenta que esta es una red social para profesionales.</li>
         <li>Redes sociales similares a LinkedIn, pero con otro enfoque como Facebook y Twitter también son una buena herramienta de difusión para la aplicación.</li>
         <li>Finalmente, los blogs relacionados al usuario objetivo de la aplicación asegurándose de participar en las conversaciones evitando publicar cosas a cerca de la aplicación. Se puede empezar a hablar de ella cuando se haya alcanzado cierto nivel de confianza en la conversación.</li>
    </ol>
  </div>
</ion-content>