<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <h1>Recomendaciones para tu aplicación movil</h1>
    <p id="textB">
      Es recomendable hacer una lista con los sitios afines a la aplicación cuando la misma ya se encuentre publicada en
      la App Store o Google Play.
    </p>

    <h2>Publicidad</h2>
    <div id="container__content">
      <div id="container__content__img">
        <img id="marketImg" src="assets/mobile.svg" alt="Mobile">
      </div>
      <div id="container__content__text">
        <p id="text">
          Es posible utilizar notas de prensa como blogs, publicaciones similares a la aplicación o revistas en línea.
        </p>
        <p id="text">
          Tener en cuenta herramientas de publicidad convencionales como radio o televisión los cuales estén en
          concordancia con la aplicación, incluso anunciar la aplicación por medio de otra la cual cuente con un público
          objetivo similar.
        </p>
        <p id="text">
          Anunciar el lanzamiento de la aplicación a través de correo electrónico a los clientes potenciales a quienes
          podría interesarles.
        </p>
      </div>
    </div>

    <h2>Difusión</h2>
    <div id="container__content">
      <div id="container__content__img">
        <img id="marketImg" src="assets/growth.svg" alt="Growth">
      </div>
      <div id="container__content__text">
        <p id="text">
          Se puede utilizar el marketing viral para la difusión de la aplicación. Un ejemplo de esto es por medio del
          boca a boca de las personas como familia y amigos.
        </p>
        <p id="text">
          Se recomienda incluir un botón de compartir ya que en caso de que la aplicación sea lo suficientemente buena
          esta puede llegar a viralizarse lo que aumenta la posibilidad de llegar a más personas.
        </p>
        <p id="text">
          Realizar integraciones con otras aplicaciones más conocidas lo que facilita que la aplicación sea más fácil de
          encontrar al buscar la demás.
        </p>
      </div>
    </div>

    <h2>Redes Sociales</h2>
    <div id="container__content">
      <div id="container__content__img">
        <img id="marketImg" src="assets/social.svg" alt="Social">
      </div>
      <div id="container__content__text">
        <p id="text">
          Es posible promocionar el site usando palabras clave a través de un Search Engine Marketing. Para esto es
          recomendable el uso de una plataforma enfocada en este tema como Google Adwords o Yahoo Search
          teniendo en cuenta el objetivo y el área geográfica de acción.
        </p>
        <p id="text">
          El uso de Social Media Marketing permite que los usuarios aprendan más sobra la aplicación con aplicativos
          como Youtube. Utilizar material audiovisual es recomendable ya que los usuarios lo prefieren en lugar de leer
          anuncios.
        </p>
        <p id="text">
          Redes sociales similares a LinkedIn, pero con otro enfoque como Facebook y Twitter también son una buena
          herramienta de difusión para la aplicación.
        </p>
      </div>
    </div>

    <h2>Contenido complementario</h2>
    <div id="container__content">
      <div id="container__content__img">
        <img id="marketImg" src="assets/content.svg" alt="Content">
      </div>
      <div id="container__content__text">
        <p id="text">
          Crear una página web de la aplicación con toda la descripción de esta incluyendo contenido multimedia que la
          explique. Así mismo, incluir un botón que permita hacer la descarga y compartirla.
        </p>
        <p id="text">
          Generar anuncios para mantener a los clientes actualizados mencionando las palabras clave según la categoría,
          gestión del tiempo y contactos.
        </p>
        <p id="text">
          Se debe crear la campaña teniendo en cuenta el objetivo como notificar el lanzamiento
          de la aplicación o mantener el número de descargas.
        </p>
      </div>
    </div>
  </div>
</ion-content>